[defaults]
inventory        = inventory/hosts.yml
roles_path       = roles
collections_paths = collections
retry_files_enabled = False
host_key_checking = False
stdout_callback  = yaml
timeout          = 60

[privilege_escalation]
become       = true
become_method = runas

[ssh_connection]
pipelining = true
